<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/assets/profile.webp" />

	<style>{{grass::include!("styles/base.scss")|safe}}</style>
	{% block head %}
	<title>cel's closet</title>
	<meta name="description" content="my website!! <3">
	{% endblock %}
</head>

<body>
	<nav>
		<a href="/">celestials@closet</a>
		<a href="/posts">~/posts</a>
		<a href="/projects">~/projects</a>
		<a href="/personal">~/personal</a>
	</nav>

	<aside>
		<img src="/assets/profile.webp" alt="Celestial">
		<div>
			<h2>celestial</h2>
			<ul>
				<li><a href="https://github.com/CelestialCrafter">code</a></li>
				<li><a href="mailto:celestialcraftermc@gmail.com">mail</a></li>
				<li><a href="/assets/ed25519.txt">ed25519</a></li>
				<li><a href="https://myanimelist.net/profile/CelestialCrafter">anime</a></li>
				<li><a href="https://open.spotify.com/user/y9uke3eehk45lbbpky3z3agwx">music</a></li>
			</ul>
		</div>
	</aside>

	<hr class="divider">

	<main>
	{% block body %}{% endblock %}
	</main>
</body>

</html>
