<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/assets/profile.webp" />

	<style>{{grass::include!("styles/base.scss")|safe}}</style>
	{% block head %}
	{% include "oneko.html" %}
	{% endblock %}
</head>

<body>
	<canvas></canvas>

	<nav>
		<a href="/">celestials@closet</a>
		<a href="/posts">~/posts</a>
		<a href="/projects">~/projects</a>
		<a href="/personal">~/personal</a>
	</nav>

	<aside>
		<img src="/assets/profile.webp" alt="Celestial">
		<div>
			<h2>celestial</h2>
			<ul>
				<li><a href="https://github.com/CelestialCrafter">code</a></li>
				<li><a href="mailto:celestialcraftermc@gmail.com">mail</a></li>
				<li><a href="/assets/ed25519.txt">ed25519</a></li>
				<li><a href="https://myanimelist.net/profile/CelestialCrafter">anime</a></li>
				<li><a href="https://open.spotify.com/user/y9uke3eehk45lbbpky3z3agwx">music</a></li>
			</ul>
		</div>
	</aside>

	<hr class="divider">

	<main>
	{% block body %}{% endblock %}
	</main>
</body>

<script>
	const canvas = document.querySelector("canvas");
	const colors = Array.from({ length: 3 }, (_, i) => window.getComputedStyle(canvas).getPropertyValue("--color" + i));
	const ctx = canvas.getContext("2d");

	window.onresize = () => {
		canvas.width = window.innerWidth;
		canvas.height = window.innerHeight * 0.75;
	};
	window.onresize();
	
	const starCount = 384;
	const stars = Array.from({ length: starCount }, (_, i) => ({
		x: i / starCount,
		y: Math.random(),
		c: colors[Math.floor(Math.random() * colors.length)],
		r: 2.65 + Math.random() * 2.35,
		v: 0.1 + Math.random() * 0.2,
		p: 4 + Math.round(Math.random()),
		i: 0.1 + Math.random() * 0.2
	}));

	ctx.shadowBlur = 2;
	const starAnimate = () => {
		ctx.clearRect(0, 0, canvas.width, canvas.height);

		for (const star of stars) {
			star.y += star.v / canvas.height;
			star.x += star.v / canvas.width;
			if (star.x > 1) star.x = 0;
			if (star.y > 1) star.y = 0;

			ctx.fillStyle = star.c;
			ctx.shadowColor = star.c;
			ctx.globalAlpha = (1 - star.y) * 0.5;

			const y = star.y * canvas.height;
			const x = star.x * canvas.width;

			ctx.beginPath();

			const step = Math.PI / star.p;
			for (let i = 0; i < 2 * star.p; i++) {
				const r = i % 2 === 0 ? star.r : star.r * star.i;
				const a = i * step;
				ctx.lineTo(x + Math.cos(a) * r, y + Math.sin(a) * r);
			}

			ctx.closePath();
			ctx.fill();
		}

		requestAnimationFrame(starAnimate)
	};
	
	starAnimate();
</script>

</html>
