{% extends "base.html" %}

{% block head %}
<title>cel's closet</title>
<meta name="description" content="my website!! <3" />
{% endblock %}

{% block body %}
<h1>index</h1>

<h2>about me</h2>

<p>
  hiya~ i'm celestial! i'm a <a href="/personal#development">software dev</a>,
  and i also like <a href="/personal#music">music</a> and <a href="/personal#anime-manga">anime/manga</a>.
  <br />
  you can message me thru
  <a href="mailto:celestialcraftermc@gmail.com" data-title="this is a filtering process! i actually use discord">email</a>, if you wanna talk.
</p>
{% endblock %}
