{% extends "base.html" %}

{% block head %}
<title>Celestial's Closet</title>
<meta name="description" content="my website! <3" />
{% endblock %}

{% block body %}
<h1>index</h1>

<p>
  hello world! i'm celestial, and i'm mainly a <a href="/personal#development">software developer</a>. <br />
  i also like music and anime/manga, which you can see <a href="/personal#music">here</a> and <a href="/personal#anime-manga">here</a> respectively.
  <br />
  feel free to contact me! you can message me via
  <a href="mailto:celestialcraftermc@gmail.com" data-title="this is a filtering process! I actually use matrix and discord.">email</a>.
</p>
{% endblock %}
