{% extends "base.html" %}

{% block head %}
<title>cel's closet - personal</title>
<meta name="description" content="stuff about me <3">
<style>{{grass::include!("styles/personal.scss")|safe}}</style>
{% endblock %}

{% block body %}
<h1>personal</h1>

<h2 id="development">software development</h2>
<p>
	i've been programming since 2016, just doing what seemed interesting.<br>
	over the years, i learned python, c, java, the standard web stuff, and a lot more.<br>
	i also like networking, hardware, and linux!
</p>

<!-- @TODO clean these 3 sections up -->

<h2 id="music">music</h2>

<div class="grid">
	{% for entry in music %}
	<a href="{{entry.url}}">
		<figure>
			<img src="{{entry.image}}" alt="artist picture for {{entry.title}}">
			<figcaption>{{entry.title}}</figcaption>
		</figure>
	</a>
	{% endfor %}
</div>

<h2 id="anime-manga">anime/manga</h2>

<div class="grid">
	{% for entry in anime_manga %}
	<a href="{{entry.url}}">
		<figure>
			<img src="{{entry.image}}" alt="anime/manga picture for {{entry.title}}">
			<figcaption>{{entry.title}}</figcaption>
		</figure>
	</a>
	{% endfor %}
</div>
{% endblock %}
