{% extends "base.html" %}

{% block head %}
<title>Celestial's Closet - Personal</title>
<meta name="description" content="Stuff about me! <3">
<style>{{grass::include!("styles/personal.scss")|safe}}</style>
{% endblock %}

{% block body %}
<h1>Personal</h1>

<h2 id="development">Software Development</h2>
<p>
	I've been programming since 2016, and I'm mainly interested in Rust & Linux.<br>
	Other than that, I also like Lua, Networking, Hardware, and Operating Systems.<br>
</p>

<h2 id="music">Music</h2>

<div class="grid">
	{% for entry in music %}
	<a href="{{entry.url}}">
		<figure>
			<img src="{{entry.image}}" alt="{{entry.title}}">
			<figcaption>{{entry.title}}</figcaption>
		</figure>
	</a>
	{% endfor %}
</div>

<h2 id="anime-manga">Anime/Manga</h2>

<div class="grid">
	{% for entry in anime_manga %}
	<a href="{{entry.url}}">
		<figure>
			<img src="{{entry.image}}" alt="{{entry.title}}">
			<figcaption>{{entry.title}}</figcaption>
		</figure>
	</a>
	{% endfor %}
</div>
{% endblock %}
