{% extends "base.html" %}

{% block head %}
<style>{{grass::include!("styles/projects.scss")}}</style>
{% endblock %}

{% block body %}
<div class="projects">
	{% for repo in repos.iter() %}
	{% let language = repo.language.clone().unwrap_or("Unknown".to_string()) %}
	<div class="project">
		<a href="{{ repo.url }}">
			<h2>{{ repo.name }}<img src="/assets/{{ language|lower }}.webp" alt="​" onerror="this.style.display='none'"></h2>
		</a>
		<ul class="info">
			<li>{{ language }}</li>
			<li><span>{{ repo.stars }} stars</span></li>
		</ul>
		<br>
		<p>{{ repo.description.clone().unwrap_or_default() }}</p>
	</div>
	{% endfor %}
</div>
{% endblock %}
