// @TODO make my own color palette

$base: #191724;
$surface: #1f1d2e;
$overlay: #26233a;
$muted: #6e6a86;
$highlight: #524f67;

$text: #e0def4;
$text-subtle: #908caa;

$accent: #ebbcba;

$link-visited: #c4a7e7;
$link-unvisited: #31748f;
