@use "colors";

@font-face {
  font-family: azuki;
  src: url(/static/azuki.woff2);
}

@font-face {
  font-family: cherry;
  src: url(/static/cherry.woff2);
}

body {
  color: colors.$text;
  font-family: azuki, sans-serif;
  font-size: 12pt;
  line-height: 1.3;
}

code {
  font-family: cherry, monospace;
  font-size: 9.75pt;
  line-height: 1.1;
}

p {
  color: colors.$text-subtle;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 2.25em
}

h2 {
  font-size: 2.00em
}

h3 {
  font-size: 1.75em
}

h4 {
  font-size: 1.5em
}

h5 {
  font-size: 1.25em
}

h6 {
  font-size: 1em
}

small,
sub,
sup {
  color: colors.$text-muted;
  font-size: 0.75em;
}

a {
  text-decoration: none;
}
