@use "sizes";
@use "colors";

@mixin card($title) {
  padding: sizes.$spacing-m;
  border-radius: sizes.$rounding;
  background-color: colors.$surface;
  width: fit-content;

  #{$title} {
    background-color: colors.$overlay;
    border-radius: sizes.$rounding;
    padding: sizes.$spacing-s sizes.$spacing-m;
    margin-bottom: sizes.$spacing-s;
    display: inline-block;
    width: fit-content;
    height: fit-content;
  }
}
