@use "modern-normalize";
@use "typography";
@use "colors";
@use "sizes";

body {
  background-color: colors.$base;
  padding: sizes.$spacing-m;
}

nav {
  display: flex;
  gap: sizes.$spacing-m;
  margin-bottom: 1rem;
}
