@use "colors";
@use "sizes";
@use "util";

.info {
  text-align: center;

  h2 {
    color: colors.$accent;
  }

  img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 10rem;
  }
}

.cards {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  flex-direction: column;
  gap: sizes.$spacing-m;

  .card {
    @include util.card("h2");
    width: initial;
  }
}

.about p {
  max-width: 42rem;
}

.icon-set {
  display: flex;
  gap: sizes.$spacing-s;

  img {
    width: 4rem;
    aspect-ratio: 1/1;
  }
}
