@use "colors";
@use "sizes";
@use "util";

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, 24rem);
  justify-content: center;
  gap: sizes.$spacing-m;

  .project {
    @include util.card("a");
    width: initial;
  }
}

img {
  margin-left: sizes.$spacing-s;
  width: 1em;
  aspect-ratio: 1/1;
  vertical-align: text-top;
}
